
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 2.5rem;
    right: 3rem;
    background-color: var(--clr-grey-4);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color:white;
    animation: bounce 2s ease-in-out infinite;
    border-radius: 50%;
    font-weight: bold;
}

.top-link:hover{
    color: magenta;
    transition: all 0.3s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}